/* reset */
*{box-sizing:border-box;}
html,body{width:100%;height: 100%;font-size:62.5%;font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal}
a{text-decoration:none;outline:none;color:inherit}
a:hover,a:visited,a:active,a:link{text-decoration:none}
ul,li{list-style:none;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,select,textarea{outline:none}

input[type="text"],input[type="tel"],input[type="date"], input.localDateTime, input[type="button"]{-webkit-appearance:none;background:none}
input[type="date"].emptyDate:before, input.localDateTime.emptyDate:before{ content: attr(placeholder);color:#c6c6c6;}


.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.view-frame.ng-enter {
    left: 100%;
}

.view-frame.ng-enter {
    -webkit-animation: 0.2s moveIn;
    -moz-animation: 0.2s moveIn;
    -o-animation: 0.2s moveIn;
    animation: 0.2s moveIn;
    z-index: 100;
}

.view-frame.ng-leave {
    -webkit-animation: 0.2s fade-out;
    -moz-animation: 0.2s fade-out;
    -o-animation: 0.2s fade-out;
    animation: 0.2s fade-out;
    z-index:99;
}

@keyframes moveIn {
    from { left: 100%; }
    to { left: 0; }
}
@-moz-keyframes moveIn {
    from { left: 100%; }
    to { left: 0; }
}
@-webkit-keyframes moveIn {
    from { left: 100%; }
    to { left: 0; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
/* don't forget about the vendor-prefixes! */
.container{width:100%;height:100%;overflow: auto;}
.contralBar{width:100%;height:30px;overflow:hidden;}

p.title{font-size:1.6rem;text-indent:1rem;font-weight:bold;}
#configInfors{width:100%;overflow:hidden;margin:1rem auto;}
#configInfors li{width:100%;overflow:hidden;font-size:1.4rem;margin-bottom:1rem;}
#configInfors label{width:30%;text-align:right;display:inline;float:left;color:#999}
#configInfors label:after{content:'：'}
#configInfors input[type="text"], #configInfors input[type="password"]{background: #fff;border:0 none;border-bottom:1px solid #ccc;width:65%;}
#configInfors input[type="button"]{width:50%;margin:0 auto;background:#30a9e0;border:0 none;border-radius:10px;display:block;color:#fff;height:30px;}
#configLists, #configLists p, #configLists ul, #configLists li{width:100%;overflow:hidden;}
#configLists li{border-top:1px solid #ccc;}
#configLists li a{width:100%;height:30px;line-height:30px;display:block;text-indent:1.2rem;font-size:1.4rem;color:#999;}

#tableList{width:100%;overflow:hidden;}
#tableList li{width:100%;height:30px;line-height:30px;border-bottom:1px solid #ccc;font-size: 1.4rem;}
#tableList li a{width:100%;height:100%;text-indent:1rem;display:block;color:#999}
#fieldsList{width:100%;height:30px;overflow:hidden;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}
#dataList{width:100%;height:calc(100% - 60px);overflow:scroll;}
#fieldsList ul, #dataList ul{overflow:hidden;width:99999px;}
#dataList ul{border-bottom:1px solid #ccc;}
#fieldsList li a, #dataList li a{float:left;display:inline-block;height:30px;line-height:30px;font-size:1.4rem;padding:0 1rem;border-right:1px solid #ccc;overflow:hidden;width:150px;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
#dataList ul:nth-child(2n){background:#ddd;}
#dataList ul.highLightLine{background:#30a9e0;color:#fff;}

