<div class="contralBar">
	<a href="javascript://" ng-click="showType = 'isStructure'" ng-class="{true: 'activeTab', false: ''}[showType=='isStructure']">结构</a>
	<a href="javascript://" ng-click="showType = 'isData'" ng-class="{true: 'activeTab', false: ''}[showType=='isData']">数据</a>
	<a href="javascript://" ng-click="showType = 'isSelect'" ng-class="{true: 'activeTab', false: ''}[showType=='isSelect']">查询</a>
</div>
<div class="dataBox" ng-show="showType=='isStructure'">
	<ul id="structureList">
		<li>
			<label>字段</label>
			<label>类型</label>
			<label>空</label>
			<label>默认</label>
		</li>
		<li ng-repeat="item in fieldsList">
			<label>{{item.Field}}</label>
			<label>{{item.Type}}</label>
			<label>{{item.Null}}</label>
			<label>{{item.Default}}</label>
		</li>
	</ul>
</div>
<div class="dataBox" ng-show="showType=='isData'">
	<div id="fieldsList">
		<ul style="width:{{ulWidth}}px">
			<li ng-repeat="item in fieldsList">
				<a ng-href="javascript://">{{item.Field}}</a>
			</li>
		</ul>
	</div>
	<div id="dataList" ng-show="dataList.length" onscroll="scrollFn.onScroller('fieldsList', this);">
		<ul ng-repeat="dataLine in dataList" ng-class="{true:'highLightLine', false: ''}[dataLine.highLight]" ng-click="fn.highLight(dataLine);" style="width:{{ulWidth}}px">
			<li ng-repeat="item in dataLine.list track by $index">
				<a ng-href="javascript://">{{item}}</a>
			</li>
		</ul>
	</div>
	<p class="nodata" ng-show="!dataList.length">无数据</p>
</div>
<div class="dataBox" ng-show="showType=='isSelect'">
	
</div>

